@font-face{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"),local(Montserrat-Regular),url(//fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}
@font-face{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	src: local("Montserrat SemiBold"),local(Montserrat-SemiBold),url(//fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl08G3e9iX24ta7lLMfbqPFME.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl06VlZKEoJGujTpfWnQT9bUY.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl024H_cQCpNmkmj7HsMzmiiM.woff) format("woff");
}
@font-face{
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"),local(Ubuntu-Medium),url(//fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jsGyJ.eot?#) format("eot"),url(//fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jsGyN.woff2) format("woff2"),url(//fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jsGyL.woff) format("woff");
}
@font-face{
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"),local(Ubuntu-Bold),url(//fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyJ.eot?#) format("eot"),url(//fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format("woff2"),url(//fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyL.woff) format("woff");
}
body{
	font-family: 'Ubuntu';
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
}
.Hero{
	background: url('../img/bg.jpg') no-repeat center center;
	background-size: cover
}
.Hero .contenedor{
	background: #000000;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 8em 9em;
}
.Hero .contenedor .header .navbar .menu{
	margin: 0;
	display: flex;
}
.Hero .contenedor .header .navbar .menu .item{
	padding: 1em;
	list-style: none;
}
.Hero .contenedor .header .navbar .menu .item a{
	color: white;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-decoration: none;
	text-transform: uppercase;
}
.Hero .contenedor .title{
	font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	color: white;
	font-size: 64px;
	font-size: 4rem;
	text-transform: uppercase;
	margin-bottom: 0;
}
.Hero .contenedor .subtitle{
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	color: white;
	font-size: 24px;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 500;
	position: relative;
	margin-bottom: 4em;
}
.Hero .contenedor .subtitle:before{
	content: '';
	position: absolute;
	width: 15%;
	top: 50%;
	left: -5em;
	height: 2px;
	background: white;
}
.Hero .contenedor .subtitle:after{
	content: '';
	position: absolute;
	width: 15%;
	top: 50%;
	right: -5em;
	height: 2px;
	background: white;
}
.Hero .contenedor .btn{
	background: #4ec4ae;
	color: white;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	padding: 1em 2em;
	text-decoration: none;
	border-radius: 5rem;
	text-transform: uppercase;
	padding: 1em 3em;
	font-size: 19.2px;
	font-size: 1.2rem;
}
.Servicios{
	display: flex;
	justify-content: center;
	background: #eeeef0
}
.Servicios .contenedor{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	width: 80%;
}
.Servicios .contenedor{
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	padding: 6em 0;
}
.Servicios .contenedor .item .fa{
	color: #4ec4ae;
	font-size: 56px;
	font-size: 3.5rem;
}
.Servicios .contenedor .item .title{
	color: #43474a;
	text-transform: uppercase;
	font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	border-bottom: 1px solid #aeaeb0;
	font-size: 20.8px;
	font-size: 1.3rem;
	font-weight: 500;
	padding-bottom: 1em;
}
.Servicios .contenedor .item .descripcion{
	color: #aeaeb0;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}
/* ----- Hero ------ */
.Post-a{
	background: #f5f5f5;
	padding: 8em 0;
	display: flex;
	justify-content: center
}
.Post-a .contenedor{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	width: 80%;
}
.Post-a .contenedor{
	grid-gap: 10em;
}
.Post-a .contenedor .item .header{
	height: 250px;
	overflow: hidden;
}
.Post-a .contenedor .item .header .img{
	width: 100%;
	vertical-align: top;
}
.Post-a .contenedor .item .body .title{
	color: #43474a;
	text-transform: uppercase;
	font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	border-bottom: 1px solid #aeaeb0;
	font-size: 20.8px;
	font-size: 1.3rem;
	font-weight: 500;
	padding-bottom: 1em;
}
.Post-a .contenedor .item .body .meta{
	color: #aeaeb0;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	margin-bottom: 	3em;
}
.Post-a .contenedor .item .body .btn{
	background: #4ec4ae;
	color: white;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	padding: 1em 2em;
	text-decoration: none;
	border-radius: 5rem;
}
.Destacado-a{
	background: #eeeef0;
	padding: 5em 8em;
}
.Destacado-a .title{
	margin: 0;
	color: #43474a;
	text-transform: uppercase;
	font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	border-bottom: 1px solid #aeaeb0;
	font-size: 20.8px;
	font-size: 1.3rem;
	font-weight: 500;
	padding-bottom: 1em;
	font-size: 32px;
	font-size: 2rem;
	margin-bottom: 	1em;
}
.Destacado-a .title span{
	color: #aeaeb0;
	font-size: 40px;
	font-size: 2.5rem;
}
.Destacado-a .meta{
	color: #aeaeb0;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	margin-bottom: 	2em;
}
.Destacado-a .btn{
	background: #4ec4ae;
	color: white;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	padding: 1em 2em;
	text-decoration: none;
	border-radius: 5rem;
	background: #aeaeb0;
}
.Post-b{
	display: flex;
	justify-content: center;
	background: #f5f5f5;
	padding: 5em 0
}
.Post-b .contenedor{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	width: 80%;
}
.Post-b .contenedor{
	grid-template-columns: repeat(3, 1fr);
}
.Post-b .contenedor .item .header{
	height: 200px;
	overflow: hidden;
}
.Post-b .contenedor .item .header .img{
	width: 100%;
}
.Post-b .contenedor .item .body .title{
	color: #43474a;
	text-transform: uppercase;
	font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	border-bottom: 1px solid #aeaeb0;
	font-size: 20.8px;
	font-size: 1.3rem;
	font-weight: 500;
	padding-bottom: 1em;
}
.Post-b .contenedor .item .body .meta{
	color: #aeaeb0;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}
.Post-b .contenedor .item .body .btn{
	color: #4ec4ae;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-decoration: none;
}
.Recomendaciones{
	padding: 3em 0 9em;
	display: flex;
	justify-content: center;
	background: #eeeef0
}
.Recomendaciones .contenedor{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	width: 80%;
}
.Recomendaciones .contenedor{
	grid-gap: 8em;
}
.Recomendaciones .contenedor .item .title{
	color: #43474a;
	text-transform: uppercase;
	font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	border-bottom: 1px solid #aeaeb0;
	font-size: 20.8px;
	font-size: 1.3rem;
	font-weight: 500;
	padding-bottom: 1em;
	font-size: 24px;
	font-size: 1.5rem;
}
.Recomendaciones .contenedor .item .title span{
	font-size: 32px;
	font-size: 2rem;
	color: #aeaeb0;
	padding-right: .5em;
}
.Recomendaciones .contenedor .item .descripcion{
	color: #aeaeb0;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	margin-bottom: 3em;
}
.Recomendaciones .contenedor .item .btn{
	background: #4ec4ae;
	color: white;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	padding: 1em 2em;
	text-decoration: none;
	border-radius: 5rem;
}
.Destacado-b{
	background: #f5f5f5;
	display: flex;
	justify-content: center;
	padding: 8em 0
}
.Destacado-b .contenedor{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	width: 80%;
}
.Destacado-b .contenedor .item .img{
	width: 100%;
}
.Destacado-b .contenedor .item .title{
	color: #43474a;
	text-transform: uppercase;
	font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	border-bottom: 1px solid #aeaeb0;
	font-size: 20.8px;
	font-size: 1.3rem;
	font-weight: 500;
	padding-bottom: 1em;
	font-size: 24px;
	font-size: 1.5rem;
}
.Destacado-b .contenedor .item .meta{
	color: #aeaeb0;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	margin-bottom: 3em;
}
.Destacado-b .contenedor .item .btn{
	background: #4ec4ae;
	color: white;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	padding: 1em 2em;
	text-decoration: none;
	border-radius: 5rem;
	background: #aeaeb0;
}
.footer{
	background: #4ec4ae;
	padding: 3em 2em
}
.footer .copy{
	margin: 0;
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	color: white;
}
@media (max-width: 780px){
	.Hero .contenedor{
		padding: 8em 4em;
	}
	.Hero .contenedor .title{
		font-size: 3rem;
	}
	.Hero .contenedor .subtitle{
		font-size: 1.2rem;
	}
	.Hero .contenedor .subtitle{
		font-size: 1rem;
		margin-bottom: 2em;
	}
}
@media (max-width: 500px){
	.Hero .contenedor{
		padding: 8em 1em;
	}
	.Hero .contenedor .header .navbar .menu{
		display: none;
	}
	.Hero .contenedor .title{
		font-size: 2rem;
	}
	.Servicios .contenedor{
		grid-template-columns: 1fr;
	}
	.Post-a .contenedor{
		grid-template-columns: 1fr;
	}
	.Destacado-a{
		padding: 5em 2em;
	}
	.Post-b .contenedor{
		grid-template-columns: 1fr;
	}
	.Recomendaciones .contenedor{
		grid-template-columns: 1fr;
	}
	.Destacado-b .contenedor{
		grid-template-columns: 1fr;
	}
}