@import './variables.css';
@import './header.css';
@import './servicios.css';
@custom-media --mobile (width <= 500px );
@custom-media --tablet (width <= 780px );

/* ----- Hero ------ */

.b-lazy{
	opacity: 0;
}
.b-loaded{
	opacity: 1;
	animation: aparecer 1s;
	z-index: 2000;
}
.loader{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	& .circulo{
		width: 100%;
		height: 100%;
		top: calc(50% - 40px);
		right: calc(50% - 40px);
		border-radius: 50%;
		position: absolute;
		box-sizing: border-box;
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			border: 8px solid #757575;
			border-radius: 50%;
			position: absolute;
			box-sizing: border-box;
		}
		&:after{
			content: '';
			clip: rect(0px, 80px, 40px, 40px);
			width: 100%;
			height: 100%;
			border: 8px solid #bbbbbb;
			border-radius: 50%;
			position: absolute;
			box-sizing: border-box;
			transform: rotate(-45deg);
			animation: rotar 1s ease-in-out infinite;
		}
	}
}
.item{
	& .header{
		position: relative;
		background: var(--bgP);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.Post-a{
	background: var(--bgS);
	padding: 8em 0;
	display: flex;
	justify-content: center;
	& .contenedor{
		@apply --grid;
		grid-gap: 10em;
		& .item{
			& .header{
				height: 250px;
				overflow: hidden;
				& .img{
					width: 100%;
					vertical-align: top;
				}
			}
			& .body{
				& .title{
					@apply --title;
				}
				& .meta{
					@apply --text;
					margin-bottom: 	3em;
				}
				& .btn{
					@apply --btn;
				}
			}
		}
	}
}
.Destacado-a{
	background: var(--bgP);
	padding: 5em 8em;
	@media (--mobile){
		padding: 5em 2em;
	}
	& .title{
		margin: 0;
		@apply --title;
		font-size: 2rem;
		margin-bottom: 	1em;
		& span{
			color: var(--colotText);
			font-size: 2.5rem;
		}
	}
	& .meta{
		@apply --text;
		margin-bottom: 	2em;
	}
	& .btn{
		@apply --btn;
		background: var(--colotText);
	}
}
.Post-b{
	display: flex;
	justify-content: center;
	background: var(--bgS);
	padding: 5em 0;
	& .contenedor{
		@apply --grid;
		grid-template-columns: repeat(3, 1fr);
		& .item{
			& .header{
				height: 200px;
				overflow: hidden;
				& .img{
					width: 100%;
				}
			}
			& .body{
				& .title{
					@apply --title;
				}
				& .meta{
					@apply --text;
				}
				& .btn{
					color: var(--verde);
					font-family: var(--fuenteText);
					text-decoration: none;
				}
			}
		}
	}
}
.Recomendaciones{
	padding: 3em 0 9em;
	display: flex;
	justify-content: center;
	background: var(--bgP);
	& .contenedor{
		@apply --grid;
		grid-gap: 8em;
		& .item{
			& .title{
				@apply --title;
				font-size: 1.5rem;
				& span{
					font-size: 2rem;
					color: var(--colotText);
					padding-right: .5em;
				}
			}
			& .descripcion{
				@apply --text;
				margin-bottom: 3em;
			}
			& .btn{
				@apply --btn;
			}
		}
	}
}
.Destacado-b{
	background: var(--bgS);
	display: flex;
	justify-content: center;
	padding: 8em 0;
	& .contenedor{
		@apply --grid;
		& .item{
			& .img{
				width: 100%;
			}
			&:nth-of-type(1){
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
			}
			& .title{
				@apply --title;
				font-size: 1.5rem;
			}
			& .meta{
				@apply --text;
				margin-bottom: 3em;
			}
			& .btn{
				@apply --btn;
				background: var(--colotText);
			}
		}
	}
}
.footer{
	background: var(--verde);
	padding: 3em 2em;
	& .copy{
		margin: 0;
		font-family: var(--fuenteText);
		color: white;
	}
}
@keyframes aparecer{
	0%{
		transform: scale(.6);
	}
	50%{
		transform: scale(1.5);
	}
	80%{
		transform: scale(.9);
	}
	100%{
		transform: scale(1);
	}
}@keyframes rotar{
	0%{
		transform: rotate(-45deg);
	}
	100%{
		transform: rotate(315deg);
	}
}