:root{
	--fuenteTitle: 'Ubuntu', system-ui;
	--fuenteText: 'Montserrat', system-ui;
	--verde: #4ec4ae;
	--bgP: #eeeef0;
	--bgS: #f5f5f5;
	--colotText: #aeaeb0;
	--colorTitle: #43474a;
	--btn: {
		background: var(--verde);
		color: white;
		font-family: var(--fuenteText);
		padding: 1em 2em;
		text-decoration: none;
		border-radius: 5rem;
	};
	--grid: {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 3em;
		width: 80%;
		@media (--mobile){
			grid-template-columns: 1fr;
		}
	};
	--title: {
		color: var(--colorTitle);
		text-transform: uppercase;
		font-family: var(--fuenteTitle);
		border-bottom: 1px solid var(--colotText);
		font-size: 1.3rem;
		font-weight: 500;
		padding-bottom: 1em;
	};
	--text: {
		color: var(--colotText);
		font-family: var(--fuenteText);
	}
}
body{
	font-family: 'Ubuntu';
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
}